[defaults]
base_uri = https://api.us.onelogin.com/
client_id = 0a40c2df84d1f3998c2d15cd481c0c7871ae0146985fedd0a910e68b4e4369eb
client_secret = a6e5e7f6ff380e41f01897a95cf0b46467c13a98df0189c28a30b0f915d089b5
subdomain = gunosy
profile = default
duration_seconds = 3600
auto_determine_ip_address = yes
otp_device = Google Authenticator
 
[biwako]
aws_app_id = 635059
 
[fuji]
aws_app_id = 507478
 
[gunosy]
aws_app_id = 504168
 
[goblin]
aws_app_id = 660130
 
[sandbox]
aws_app_id = 503846
 
[sandbox_admin]
aws_app_id = 579576
 
[egg]
aws_app_id = 724408
 
[ads]
aws_app_id = 773665
 
[banri]
aws_app_id = 802462
 
[muscle]
aws_app_id = 802461
 
[media-admin]
aws_app_id = 761364
 
[piccolo]
aws_app_id = 874955
 
[baikal_dev]
aws_app_id = 893170
 
[baikal_stg]
aws_app_id = 893172
 
[baikal_prd]
aws_app_id = 893174