@font-face {
  font-family: Lato-Black;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lato/Lato-Black.ttf", font);
}

@font-face {
  font-family: Lato-Bold;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lato/Lato-Bold.ttf", font);
}

@font-face {
  font-family: Lato-Semibold;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lato/Lato-Semibold.ttf", font);
}

@font-face {
  font-family: Lato-Regular;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lato/Lato-Regular.ttf", font);
}

@font-face {
  font-family: Lato-Light;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lato/Lato-Light.ttf", font);
}

@font-face {
  font-family: Lato-Thin;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lato/Lato-Thin.ttf", font);
}

/* section1 */
.jumbotronTop {
  z-index: 1;
  height: 480px;
  padding: 120px 0 60px 0;
  margin-bottom: 0;
  background: linear-gradient(45deg, rgba(63,137,186,0.7) 0%, rgba(105,183,187,0.7) 100%);
}

.topBackgroundImage {
  background-image: url(../img/gradientvalley.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -100;
}


/* section2 */
.mailForm {
  background-color: #f5f5f5;
}

.inlineForm {
  margin: 0 auto;
  width: 60%;
  padding: 60px 0;
}

.formContent {
  margin: 30px 0 0 0;
}

.fourSectionIntro {
  padding: 100px 0 0 0;
}

.col-wrapper {
  text-align: center
}

/* section3 */
.introductionFirst {
  background-image: url(../img/background-sick.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;;
}

.jumbotronCoreValue {
  z-index: 1;
  padding: 100px 0 100px 0;
  margin-bottom: 0;
  background: linear-gradient(45deg, rgba(52,73,94,0.8) 0%, rgba(231,76,60,0.8) 100%);
}

.iconImage {
  padding: 30px 0;
}

.iconImage::after{
  width: 30px;
  border-bottom: 1px solid rgba(0,0,0,0.16);
}

.introTextWrapper {
  width: 170px;
  margin: 0 auto;

}

.sampleCase {
  background-color: white;
}


.jumbotronSampleCase {
  padding: 100px 0 100px 0;
  margin-bottom: 0;
  background-color: white;
}

/* section4 */
.introductionSecond {
  padding: 100px 0 100px 0;
  margin-bottom: 0;
  background-color: #f5f5f5;
}


  /*background: #34495E;*/

.jumbotronStory {
  height: 540px;
  padding: 150px 0 100px 0;
  margin-bottom: 0;
}



.Lato-Black { font-family: Lato-Black; }
.Lato-Bold { font-family: Lato-Bold; }
.Lato-Semibold { font-family: Lato-Semibold; }
.Lato-Regular { font-family: Lato-Regular; }
.Lato-Light { font-family: Lato-Light; }
.txtWhite { color: white; }
h1.txtWhite { color: white; }
.txtCenter { text-align: center; }
.letterSpacing2px { letter-spacing: 2px; }
.letterSpacing5px { letter-spacing: 5px; }
.letterSpacing10px { letter-spacing: 10px; }
.jumbotronTop p.fontSize19px { font-size: 19px;}